// Use this file as a starting point for your project's .eslintrc.
// Copy this file, and add rule overrides as needed.
{
    "extends": "airbnb-base",
    "env": {
        "jest": true
    },
    "rules": {
        // Disables the strict in modules error
        "strict": "off",
        // Disables the console warning
        "no-console": "warn",
        // reassignment is needed in strongloop for afterRemote's and similar
        "no-param-reassign": "off",
        "comma-dangle": "off",
        "consistent-return": "off",
        "padded-blocks": "off",
        "arrow-body-style": [
            "error",
            "always"
        ],
        "max-len": [
            "warn",
            {
                "code": 200
            }
        ],
        "object-shorthand": [
            "error",
            "never"
        ],
        "indent": [
            "error",
            4
        ],
        "no-underscore-dangle": "off",
        "no-plusplus": "off",
        "no-use-before-define": "off",
        "no-prototype-builtins": "off",
        "no-throw-literal": "warn"
    }
}
